/* ----------------------------
	Typo
---------------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body, .box > *, textarea, input {
	font-family: 'Roboto', sans-serif;
	color: #1d1d1d;
	/*overflow: hidden;*/
}

/* ----------------------------
	STRUCTURE
---------------------------- */
html {
  box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-size: 20px;
}

/* ----------------------------
	CONNEXION
---------------------------- */

.connexionBox {

	/* Background */
	background-image: url("images/planet-581239_1280.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.connexion {
	max-width: 500px;
	font-size: 24px;
}
.connexion > * {
	width: 100%;
}
.connexion > input {
	box-sizing: border-box;
	font-size: 24px;
	padding: 5px;
	border: 5px solid blueviolet;
	border-width: 0 0 5px 0;
	outline: none;
}
.box {
	display:flex;
	margin: auto;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 500px;
	align-items: flex-end;
	height: calc(100vh - 100px);
}

.box > * {
	width: 100%;
}

/* ----------------------------
	MESSAGES
---------------------------- */

.messages {
	flex: 1 1 100%;
	/*border: 5px solid red;*/
	box-sizing: border-box;
	align-self: flex-end;
	max-height: calc(100vh - 310px);
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}

.messages::-webkit-scrollbar {
    width: 0.4em;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #eceff1;
}

/* ----------------------------
	MESSAGE
---------------------------- */

.message {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.message > * {
	padding: 5px 10px;
	max-width: 75%;
	border-radius: 2px;
	margin: 10px 0;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.not-user-message {
	background-color: #eceff1;
	align-self: flex-start;
	position: relative;
}

.not-user-message:after {
	content: '';
	position: absolute;
	top: -7px;
	left: 10px;
	width: 0;
	border-width: 0 10px 7px 0;
	border-style: solid;
	border-color: #eceff1 transparent;
}

.user-message {
	background-color: darkviolet;
	color: #fff;
	align-self: flex-end;
	position: relative;
}

.user-message:after {
	content: '';
	position: absolute;
	bottom: -7px;
	right: 10px;
	width: 0;
	border-width: 7px 0 0 10px;
	border-style: solid;
	border-color: darkviolet transparent;
}

/* ----------------------------
	FORMULAIRE
---------------------------- */

.form {
	align-self: flex-end;
}

.form > * {
	width: 100%;
}

textarea {
	box-sizing: border-box;
	height: 120px;
	border: 5px solid darkviolet;
	border-width: 0 0 5px 0;
	background-color: #ECEFF1;
	outline: none;
	font-size: 20px;
	padding: 5px 10px;
}

.info {
	text-align: right;
	padding-right: 5px;
}

button {
	font-size: 20px;
	border: none;
	color: white;
	background-color: blueviolet;
	margin-top: 10px;
	padding: 10px;
	cursor: pointer;
	border-radius: 2px;
	margin-bottom: 10px;
}

button:hover {
	background-color: darkviolet;
}

button:disabled {
	background-color: #eceff1;
	cursor:not-allowed;
	color: white;
}

.connexionWelcome {
	color: whitesmoke;
	border: black 15px;
	font-family: "Bookman", "URW Bookman L", serif
}

.message-header {
	font-size: 16px;
}

.hour-message  {
	font-size: 11px;
}

.message-main {
	font-size: 17px;
}

.link-icon {
	margin-left: 15px;
}

.image-upload>input {
	display: none;
}

/* ----------------------------
	NotFound
---------------------------- */

.notFound {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background: #eceff1;
}

/* Picker */
.picker {
	width: 100px;
	position: absolute;
	top: 110px; left: 600px;
}

